<p id="notice"><%= notice %></p>

<h1>Web Pages</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @web_pages.each do |web_page| %>
      <tr>
        <td><%= web_page.comparing_url %></td>
        <td><%= link_to 'Show', web_page %></td>
        <td><%= link_to 'Edit', edit_web_page_path(web_page) %></td>
        <td><%= link_to 'Destroy', web_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web Page', new_web_page_path %>
