<h1>Score : <%= @score %></h1>

<h2>1ST URL CONTENT</h2>
<ul>
  <% @words_counted1.each do |word| %>
  <li><b><%= word[0] %>:</b> <%= word[1] %></li>
  <br>
  <% end %>
</ul>
<h2>Keywords 1</h2>
<ul>
  <% @meta1.each do  |word| %>      
    <li><b><%= word[0].downcase %> : </b> <%= word[1] %>
    <br>
  <% end %>
</ul>

<hr>

<h2>2ND URL CONTENT</h2>
<ul>
  <% @words_counted2.each do |word| %>
  <li><b><%= word[0] %>:</b> <%= word[1] %></li>
  <br>
  <% end %>
</ul>


<h2>Keywords 2</h2>
<ul>
  <% @meta2.each do  |word| %>      
    <li><b><%= word[0].downcase %> : </b> <%= word[1] %>
    <br>
  <% end %>
</ul>