<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @web_page.comparing_url %>
</p>
<%= link_to "Show Frequencies", words_web_page_path(@web_page) %>
<%= link_to 'Edit', edit_web_page_path(@web_page) %> |
<%= link_to 'Back', web_pages_path %>


