<h1>Words From Page</h1>
<h2>Number Of Words: <%= @count_of_words %></h2>
<%= link_to "Compare Another Page", compare_web_page_path(@web_page) %>
<div style="width: 10% important!;">
  <ul>
    <% @words.each do  |word| %>      
        <li><b><%= word[0] %>:</b> <%= word[1] %></li>
      <br>
    <% end %>
  </ul>
</div>

<div style="width: 10% important!;">
  <h1>Keywords</h1>
    <ul>
      <% @keywords.each do  |word| %>      
          <li><b><%= word[0].downcase %> : </b> <%= word[1] %>
            <br>
        <br>
      <% end %>
    </ul>
</div>

